In [1]:
import pandas as pd 
import pickle as p
import seaborn as sns
import matplotlib.pyplot as plt
from classes.Algorithms import Algorithms
%matplotlib inline

In [2]:
df=pd.read_json("../DATA/Important.json",orient="records")
df.dtypes

Id        int64
Lat     float64
Lon     float64
Name     object
dtype: object

<h5>Size of Dataset: <span color="orange">53676</span></h5>

In [3]:
print("Size of Dataset:\t~>\t{a}\t~>\tCoordinate Points:\t~>\t{b}".format(a=len(df),b=len(df)*2))

Size of Dataset:	~>	53676	~>	Coordinate Points:	~>	107352

In [ ]:
df.head(3)

        Id        Lat         Lon                  Name
0     6523  40.070801  -74.933601     Total Rf Heliport
1   323361  38.704022 -101.473911  Aero B Ranch Airport
10    6529  40.622202 -104.344002            Cass Field

In [ ]:
sns.set_context("paper",font_scale=3); sns.set_style("darkgrid"); plt.figure(figsize=(12,12))
sns.kdeplot(df["Lon"],df["Lat"],cbar=True,legend=True,n_levels=1000)

In [ ]:
sns.set_context("paper", font_scale=3)
plt.figure(figsize=(12,12))
sns.lmplot(data=df,x="Lon",y="Lat",
           scatter_kws={"s":100,"marker": "x","color":"green"},
           line_kws={"lw":1,"color":"red"},size=20,legend=True)

In [ ]:
with open("../DATA/CoordinatesNameHOSPITAL.dat","rb") as f:
    coord = p.load(f)

In [ ]:
c=Algorithms().euclideanDistance(list(coord.values()))

In [ ]:
with open("../DATA/SortedHOSPITAL.dat","wb") as f:
    p.dump(c,f)