In [6]:
from collections import OrderedDict
from tqdm import *
import pandas as pd
import seaborn as sns 
%matplotlib inline

<h1> <span style="color:indianred">Unclean Data Set</span>; <span style="color:lightblue">Not Parsed</span> </h1>

In [7]:
df=pd.read_csv("../../DATA/Accreditation_04_2017.csv")
h=OrderedDict({
    "Name":df["Institution_Name"],
    "Address":df["Institution_Address"],
    "City":df["Institution_City"],
    "Zip":df["Institution_Zip"],
    "Web":df["Institution_Web_Address"],
    "Program Name":df["Program_Name"]
})
munged=pd.DataFrame(h)
df.head()

,Institution_ID,Institution_Name,Institution_Address,Institution_City,Institution_State,Institution_Zip,Institution_Phone,Institution_OPEID,Institution_IPEDS_UnitID,Institution_Web_Address,...,Agency_Status,Program_Name,Accreditation_Status,Accreditation_Date_Type,Periods,Last Action,Action Date,Justification,Other_Justification,Justification_Url
0,100016,Community College of the Air Force,130 W Maxwell Blvd,Montgomery,AL,36112-6613,334-953-6436,01230800,100636.0,www.maxwell.af.mil/au/ccaf/,...,NaN,NaN,Accredited,Estimated,07/01/1980 - Current,NaN,NaN,NaN,NaN,NaN
1,100016,Community College of the Air Force,130 W Maxwell Blvd,Montgomery,AL,36112-6613,334-953-6436,01230800,100636.0,www.maxwell.af.mil/au/ccaf/,...,NaN,Physical Therapy (PTA) - Programs for the phys...,Accredited,Actual,12/01/1976 - Current,Probation or Equivalent or a More Severe Statu...,11/9/2016,NaN,NaN,NaN
2,100025,Alabama A & M University,4900 Meridian St,Normal,AL,35762,256-372-5000,00100200,100654.0,www.aamu.edu/,...,NaN,NaN,Accredited,Estimated,07/01/1963 - Current,NaN,NaN,NaN,NaN,NaN
3,100025,Alabama A & M University,4900 Meridian St,Normal,AL,35762,256-372-5000,00100200,100654.0,www.aamu.edu/,...,NaN,Didactic Program in Dietetics,Accredited,Actual,12/01/1979 - Current,NaN,NaN,NaN,NaN,NaN
4,100025,Alabama A & M University,4900 Meridian St,Normal,AL,35762,256-372-5000,00100200,100654.0,www.aamu.edu/,...,NaN,Speech-Language Pathology (SLP) - Graduate deg...,Accredited,Actual,10/01/1994 - Current,NaN,NaN,NaN,NaN,NaN

In [8]:
munged.head()

,Name,Address,City,Zip,Web,Program Name
0,Community College of the Air Force,130 W Maxwell Blvd,Montgomery,36112-6613,www.maxwell.af.mil/au/ccaf/,NaN
1,Community College of the Air Force,130 W Maxwell Blvd,Montgomery,36112-6613,www.maxwell.af.mil/au/ccaf/,Physical Therapy (PTA) - Programs for the phys...
2,Alabama A & M University,4900 Meridian St,Normal,35762,www.aamu.edu/,NaN
3,Alabama A & M University,4900 Meridian St,Normal,35762,www.aamu.edu/,Didactic Program in Dietetics
4,Alabama A & M University,4900 Meridian St,Normal,35762,www.aamu.edu/,Speech-Language Pathology (SLP) - Graduate deg...

<h1> Data Types </h1>

In [9]:
munged.dtypes

Name            object
Address         object
City            object
Zip             object
Web             object
Program Name    object
dtype: object

In [11]:
munged.to_json("../../DATA/Colleges.json")
munged.to_csv("../../DATA/Colleges.csv",encoding="UTF-8",index=False)
munged.to_excel("../../DATA/Colleges.xls")

<h1 style="color:lightblue">Parsed Data Set</h1>

In [12]:
from classes.Record import Record
data=[]
for i in range(len(munged)):
    data.append(Record(name=munged["Name"][i],
                       address=munged['Address'][i],
                       city=munged['City'][i],
                       zip_code=munged['Zip'][i],
                       web=munged['Web'][i],
                       program_name=munged['Program Name'][i]))
import pickle as p
with open("../DATA/CollegeObjects.dat","wb") as f:
    p.dump(data,f)

ModuleNotFoundError: No module named 'classes'

<h1> Predictive Analysis </h1> 
<blockquote> 
    <b>Problem</b> : <i> The data set of the schools is a big file lacking numbers.
<ol style="list-style-type:square">
    <br/>
<li> Random Variables are created to subsitute columns in need of analysis</li>
</ol>

In [ ]:
import random as r
age_of_students=[r.randint(18,61) for i in range(0,len(data))]
completion_rate=[r.randint(4,11) for i in range(0,len(data))]
data_set=OrderedDict({
    "Name":list(map(lambda i: i.name,data)),
    "Address":list(map(lambda i: i.address,data)),
    "City":list(map(lambda i: i.city,data)),
    "Zip":list(map(lambda i: i.zip_code,data)),
    "Web":list(map(lambda i: i.web,data)),
    "Program Name":list(map(lambda i: i.program_name,data)),
    "Students Age":list(age_of_students),
    "Completion Rate":list(completion_rate)
})
df = pd.DataFrame(data_set)
df.dtypes
df.head()

In [ ]:
sns.set_context('paper')
sns.set_style('ticks')
sns.jointplot(data=df,x="Students Age",y="Completion Rate",kind="hex",color='white')

In [ ]:
sns.set_context('paper')
sns.set_style('ticks')
sns.jointplot(data=df,x="Students Age",y="Completion Rate",kind="kde",color="green")

In [ ]:
from plotly.offline import * 
import cufflinks as cf
init_notebook_mode(connected=True)
cf.go_offline()

<h1> 3D Visuals</h1> 
<blockquote> 

<pre> 
<code> 
length= dataset.length
x := list("Students Age")
y := list("Completion Rate")
z := list(range(0,length))
plot(x,y,z)
</code>
<pre>

</blockquote>

In [ ]:
df["Z"]=pd.Series(range(0,len(df)))
df.head()

In [ ]:
df.head(31).iplot(title="Analysis",
         kind="scatter3d",
         x="Students Age",
         xTitle="Students Age",
         y="Completion Rate",
         yTitle="Completion Rate",
         z="Z",
         text="Name",
         size=5,
         mode="markers",
         symbol="diamond",
         colorscale="RdBu",
         theme="space")

In [ ]:
df.head(11).iplot(title="Analysis",
         kind="scatter3d",
         x="Students Age",
         xTitle="Students Age",
         y="Completion Rate",
         yTitle="Completion Rate",
         z="Z",
         text="Name",
         mode="markers+text",
         dash="dash",
         fill="set2",
         symbol="square",
         colorscale="rdpu",
         theme="white")

In [13]:
cf.colors.scales()

NameError: name 'cf' is not defined

In [15]:
munged.head(3)

,Name,Address,City,Zip,Web,Program Name
0,Community College of the Air Force,130 W Maxwell Blvd,Montgomery,36112-6613,www.maxwell.af.mil/au/ccaf/,NaN
1,Community College of the Air Force,130 W Maxwell Blvd,Montgomery,36112-6613,www.maxwell.af.mil/au/ccaf/,Physical Therapy (PTA) - Programs for the phys...
2,Alabama A & M University,4900 Meridian St,Normal,35762,www.aamu.edu/,NaN

In [16]:
from py2neo import Graph, Node, Relationship

In [18]:
g = Graph("bolt://localhost:7687",auth=("neo4j", "admin"))

In [21]:
schools = [Node("School",name=munged["Name"][e],city=munged["City"][e]) for e in range(len(munged))]

In [23]:
program = [Node("Program Name",name=munged["Program Name"][e]) for e in range(len(munged))]

In [ ]:
i=0
while(len(schools)>i):
    g.create(schools[i] | program[i])
    i+=1

In [25]:
i = 0 
while(len(schools) > i):
    s=""
    g.create(Relationship(schools[i],"PROGRAM",program[i]))
    s+="Creating index:\t{}".format(i)
    print(s)
    i+=1

TypeError: <lambda>() missing 1 required positional argument: 'p'