In [1]:
import pandas as pd
import pickle as p

In [4]:

colleges=pd.read_csv("../DATA/Colleges.csv")

In [ ]:
with open("../DATA/CollegeObjects.dat","rb") as f:
    collegeOP=p.load(f)
with open("../DATA/Locations.dat","rb") as f:
    locationsOP=p.load(f)

In [ ]:
coordinates.head(3)

In [ ]:
locationsOP

In [5]:
colleges.head(3)

,Name,Address,City,Zip,Web,Program Name
0,Community College of the Air Force,130 W Maxwell Blvd,Montgomery,36112-6613,www.maxwell.af.mil/au/ccaf/,NaN
1,Community College of the Air Force,130 W Maxwell Blvd,Montgomery,36112-6613,www.maxwell.af.mil/au/ccaf/,Physical Therapy (PTA) - Programs for the phys...
2,Alabama A & M University,4900 Meridian St,Normal,35762,www.aamu.edu/,NaN

In [15]:
a = colleges["Program Name"].dropna(thresh="NaN")

TypeError: dropna() got an unexpected keyword argument "thresh"