In [1]:
import pandas as pd
import numpy as np
import pickle as p
import seaborn as sns 
import matplotlib.pyplot as plt
%matplotlib inline

## Helper functions

In [2]:
def save(c,name=""):
    individualColumnFormat = [dict(start_loc_lat=start[0],start_loc_lon=start[1],start_name=registry[start],end_loc_lat=end[0],end_loc_lon=end[1],end_name=registry[end]) for start,end in c]
    compact = [dict(start_loc=start,start_name=registry[start],end_name=registry[end],end_loc=end) for start,end in c]
    filePath = "../data/full/hospital"
    pd.DataFrame(compact).to_csv(f"{filePath+name}.csv",index=False, encoding="UTF-8")
    pd.DataFrame(compact).to_json(f"{filePath+name}.json",orient="records")
    pd.DataFrame(individualColumnFormat).to_csv(f"{filePath}-tab.csv",index=False, encoding="UTF-8")
    pd.DataFrame(individualColumnFormat).to_json(f"{filePath}-tab.json",orient="records")

### Dataset length is 53676 hospitals with their GPS location.

In [3]:
df = pd.read_json("../data/source/Hospitals.json",orient="records")

In [4]:
df.head()

                                 Name        Lat         Lon      Id
0                   Total Rf Heliport  40.070801  -74.933601    6523
1                Aero B Ranch Airport  38.704022 -101.473911  323361
2                        Lowell Field  59.949200 -151.695999    6524
3                        Epps Airpark  34.864799  -86.770302    6525
4  Newport Hospital & Clinic Heliport  35.608700  -91.254898    6526

In [5]:
A = dict(start_name=df["Name"],start_lon=df["Lat"],start_lat=df["Lon"])

In [6]:
registry = dict(zip(zip(A["start_lat"],A["start_lon"]),A["start_name"]))

## Test set

In [7]:
test_set = {k : v[:10].tolist() for k,v in A.items() }

In [8]:
fullData = list(zip(A["start_lat"],A["start_lon"]))

## Execute shortest path algorithm

In [9]:
from classes.Algorithms.Algorithms import Algorithms

In [10]:
prep = list(zip(test_set["start_lat"],test_set["start_lon"]))
c = Algorithms().euclideanDistance(prep)
save(c,name="-testData")

--- 0:0:0 CPU Elapsed Time. ---
Seconds:	0.002387

In [ ]:
c = Algorithms().euclideanDistance(fullData)
save(c,name="-full")